{{define "node"}}
                            <li class="list-group-item" role="presentation">
                            <h4>{{.NodeInfo.Name}}</h4>
                                <p>
                                    <span class="label label-{{ if eq .AlertStatus 1 }}danger{{ else }}info{{ end }}" title="Node status">up</span>
                                    <span class="label-{{ if eq .AlertHdd 1 }}danger{{ else if eq .AlertHdd 2 }}warning{{ else }}info{{ end }} label" title="Disk percentage">HDD {{.DiskPercentage}}%</span>
                                    <span class="label label-{{ if eq .AlertMem 1 }}danger{{ else if eq .AlertMem 2 }}warning{{ else }}info{{ end }}" title="Memory percentage">MEM {{.MemPercentage}}%</span>
                                    <span class="label label-{{ if eq .AlertFd 1 }}danger{{ else if eq .AlertHdd 2 }}warning{{ else }}info{{ end }}" title="File descriptors percentage">FD {{.FdPercentage}}%</span>
                                </p>
                                <p>
                                <span class="label label-{{ if eq .AlertErl 1 }}danger{{ else if eq .AlertErl 2 }}warning{{ else }}info{{ end }}" title="Erlang processes percentage">ERLPR {{.ErlProcPercentage}}%</span>
                                <span class="label label-{{ if eq .AlertSock 1 }}danger{{ else if eq .AlertSock 2 }}warning{{ else }}info{{ end }}" title="Sockets percemtage">SOCK {{.SockPercentage}}%</span>
                                </p>
                                <p>
                                {{ range .NodeInfo.EnabledPlugins }}
                                    <span class="label label-info">{{.}}</span>
                                {{ end }}
                                </p>
                            </li>
{{end}}
