{{define "navigation"}}
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <span class="navbar-brand">RabbitMQ cluster status</span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Overview</a></li>
                            <li><a href="#">Shovel <span class="badge"><small>30</small></span></a></li>
                            <li><a href="#">Vhosts <span class="badge"><small>20</small></span></a></li>
                            <li><a href="#">Alerts <span class="badge"><small>154</small></span></a></li>
                            <li><a href="#">Graphs</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
{{end}}
