{{ define "queueMain" }}
    {{template "header" .}}
    {{template "navigation" .}}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Status</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Ready messages: <strong>{{ .Queue.QueueInfo.MessagesRdy }}</strong>
                                <br>
                                Unacknowledged messages: <strong>{{.Queue.QueueInfo.MessagesUnack }}</strong>
                                <br>
                                Non-persistent messages: <strong>{{ .Queue.NonPersistentMessages }}</strong>
                                <br>
                                Status: <strong>{{ .Queue.QueueInfo.State }}</strong>
                                <br>
                                Consumers: <strong>{{ .Queue.QueueInfo.Consumers }}</strong>
                                <br>
                                Durable: <strong>{{ if .Queue.QueueInfo.Durable }}yes{{ else }}no{{ end }}</strong>
                                <br>
                                Consumer utilisation: <strong>{{ .Queue.QueueInfo.ConsumerUtilisation }}</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h4>Errors and Warnings</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Errors</strong>
                                <br><br>
                                {{ if eq .Queue.AlertState 1 }}
                                <div class="alert alert-danger">Queue is not running.</div>
                                {{ end }}
                                {{ if eq .Queue.AlertListener 1 }}
                                <div class="alert alert-danger"><strong>Queue has {{ .Queue.QueueInfo.Consumers }} listeners (error threshold: 0).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertNonDurable 1 }}
                                <div class="alert alert-danger"><strong>Queue is not durable.</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertRdy 1 }}
                                <div class="alert alert-danger"><strong>Queue has {{ .Queue.QueueInfo.MessagesRdy }} ready messages (error threshold: 100).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertUnack 1 }}
                                <div class="alert alert-danger"><strong>Queue has {{ .Queue.QueueInfo.MessagesUnack }} unacknowledged messages (error threshold: 0).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertUtilization 1 }}
                                <div class="alert alert-danger"><strong>Queue has {{ .Queue.QueueInfo.ConsumerUtilisation }} consumer utilisation (error threshold: -30%).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertIntake 1 }}
                                <div class="alert alert-danger"><strong>Queue has {{ .Queue.QueueInfo.MessagesRdyDetails.Rate }} intake (sum of in - out) (error threshold: x).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertNonDurableMessages 1 }}
                                <div class="alert alert-danger"><strong>Queue has {{ .Queue.NonPersistentMessages }} non persistent messages. (error threshold: 1+)</strong></div>
                                {{ end }}
                            </li>
                            <li class="list-group-item">
                                <strong>Warnings</strong>
                                <br><br>
                                {{ if eq .Queue.AlertState 2 }}
                                <div class="alert alert-warning">Queue is not running.</div>
                                {{ end }}
                                {{ if eq .Queue.AlertListener 2 }}
                                <div class="alert alert-warning"><strong>Queue has {{ .Queue.QueueInfo.Consumers }} listeners (warning threshold: 3-).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertRdy 2 }}
                                <div class="alert alert-warning"><strong>Queue has {{ .Queue.QueueInfo.MessagesRdy }} ready messages (warning threshold: 1+).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertUnack 2 }}
                                <div class="alert alert-warning"><strong>Queue has {{ .Queue.QueueInfo.MessagesUnack }} unacknowledged messages (warning threshold x).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertUtilization 2 }}
                                <div class="alert alert-warning"><strong>Queue has {{ .Queue.QueueInfo.ConsumerUtilisation }} consumer utilisation (warning threshold: -70%).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertIntake 2 }}
                                <div class="alert alert-warning"><strong>Queue has {{ .Queue.QueueInfo.MessagesRdyDetails.Rate }} intake (sum of in - out) (warning threshold: 1+).</strong></div>
                                {{ end }}
                                {{ if eq .Queue.AlertNonDurableMessages 12 }}
                                <div class="alert alert-warning"><strong>Queue has {{ .Queue.NonPersistentMessages }} non persistent messages (warning threshold: 1+).</strong></div>
                                {{ end }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    {{template "footer" .}}
{{ end }}
