{{ define "vhostMain" }}
    {{template "header" .}}
    {{template "navigation" .}}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Status {{ .Vhost.Name }}</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Ready messages: <strong>{{ .Vhost.MessagesRdy }}</strong>
                                <br>
                                Unacknowledged messages: <strong>{{.Vhost.MessagesUnack }}</strong>
                                <br>
                                Non-persistent messages: <strong>{{ .Queue.NonPersistentMessages }}</strong>
                                <br>
                                Tracing: <strong>{{ if .Vhost.Tracing }}yes{{ else }}no{{ end }}</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h4>Errors and Warnings</h4>
                        <ul class="list-group">
                            {{ range .Queues }}
                                {{ template "queue" . }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
    {{template "footer" .}}
{{ end }}

